.issue {
  display: flex;
  flex-direction: column;
  color: #c9d1d9;
  margin-top: 10px;
}

.issue__author {
  background-color: #161b22;
  padding: 10px;
  border: 1px solid #c9d1d9;
  border-radius: 0 0 10px 10px;
}

.issue__title {
  background-color: #0d1117;
  padding: 10px;
  border: 1px solid #c9d1d9;
  border-radius: 10px 10px 0 0;
}

.issue__title:hover {
  background-color: #142339;
  cursor: pointer;
}
