.comment {
  display: flex;
  flex-direction: column;
  color: #c9d1d9;

  margin-top: 5px;
}

.comment__author {
  background-color: #161b22;
  padding: 5px;
  border: 1px solid #c9d1d9;
  border-radius: 10px 10px 0 0;
}

.comment__body {
  background-color: #0d1117;
  padding: 5px;
  border: 1px solid #c9d1d9;
}
