* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 768px;
  margin: auto;
}

a {
  color: inherit;
}

a:hover {
  color: #7bb2ed;
}

h2 {
  font-size: 18px;
}

h1 {
  font-size: 22px;
}
